
/* ------------ CSS/LESS RESET ---------------*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	font-family: sans-serif;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
	position: relative;
}

/* ------------ VARIABLES ---------------*/

@mobile: 403px;
@tablet: 768px;
@laptop: 992px;
@bigscreen: 1200px;

@sidebarClr: #312450;
@headerClr: #5e42a6;
@learnMoreClr1: #5052b5;
@learnMoreClr2: #4c4eac;
@learnMoreClr3:	#484aa3;
@whatWeDoClr: #b74e91;
@whatWeDoListClr: #bb5797;
@bookingClr: #5e41a6;
@footerClr: #493382;
@transparentClr: rgba(255, 255, 255, 0.6);		/* less transparent white */
@transparentSidebarClr: rgba(255, 255, 255, 0.3);
@transparentBorderClr: rgba(255, 255, 255, 0.1);	/* more transparent white */


/* ------------ MIXIN ---------------*/


/* ------------ FONT SIZING AND COLOR ---------------*/

html	{	
	@media screen and (max-width: @laptop) {
		font-size: 14px;
	}
	@media screen and (max-width: @tablet) {
		font-size: 12px;
	}
	@media screen and (max-width: @mobile) {
		font-size: 10px;
	}
}

h1, h2, h3, h4, h5 {
	font-weight: bold;
	color: white;
}

h1 {	
	font-size: 3rem;			/* 48/16px */
}

h2, h3 {
	font-size: 1.875rem;			/* 30/16px */	
}

h2, h3, h4, h5 {
	line-height:	1.625rem;		/* 26/16px */
}

p {
	line-height:	1.625rem;		/* 26/16px */
	color: @transparentClr;
}



/* ------------ CONTENT ---------------*/


#content {
	padding: 0;
	.row {
		margin-left: 0;
		margin-right: 0;
	}
}

#sidebar {
	padding: 180px 0 0 0;
	text-align: right;
	background-color: @sidebarClr;
	height: 100vh;
	position: fixed;
	width: 310px;

	ul {
		padding: 0 45px;
	}

	a {
		font-size: 0.625rem;			/* 10/16px */
		letter-spacing: 0.1875rem;
		font-weight: bold;
		color: @transparentSidebarClr;
		padding: 15px 0;
		margin-bottom: 30px;
		border-bottom: 2px solid @transparentBorderClr;
		&:hover, &:active, &:focus {
			background-color: inherit;
			border-bottom: 2px solid red;
			color: white;
		}
	}
}

#main {
	margin-left: 310px;
	button {
		background-color: inherit;
		font-weight: bold;
		letter-spacing: 0.1875rem;
		padding: 20px 40px;
		border: 1px solid @transparentBorderClr;
		color: white;
		font-size: 0.625rem;			/* 10/16px */
		border-radius: 30px;

		&:hover, &:active, &:focus {
			background-color: @transparentClr;
			color: @sidebarClr;
			border: 1px solid @sidebarClr;
			outline: 0;
		}

	}
}

header {
	background-color: @headerClr;
	padding: 180px 60px;
	h1 {
		margin-bottom: 30px; 
	}
	p {
		margin-bottom: 40px;
		font-size: 1.25rem;				/* 20/16px */
	}
	button {
		background-color: @headerClr;
	}
	.underlined {
		border-bottom: 1px dotted  @transparentClr;
		cursor: pointer;
		&:hover {
			color: white;
		}
	}
}


#whoWeAre {
	margin-left: 0px;
	h2 {
		margin-top: 75px;
	}
	p {
		margin: 30px 0;
	}
	.row {
		margin: 0;
		&:nth-child(1) {
			background-color: @learnMoreClr1;
		}
		&:nth-child(2) {
			background-color: @learnMoreClr2;
		}
		&:nth-child(3) {
			background-color: @learnMoreClr3;
		}
	}
	.image {
		padding: 0;
	}
	.text {
		padding: 0 60px;
	}
}

#whatWeDo {
	padding: 75px 60px;
	background-color: @whatWeDoClr;
	p {
		margin: 30px 0;
	}
	.whatWeDoList {
		margin: 0;
		background-color: @whatWeDoListClr;
		border: 1px solid @transparentBorderClr;
		border-radius: 5px;
		p {
			margin: 10px 0;
		}
		&>div {
			padding: 30px 30px;
			&:nth-child(2n) {
				border-left: 1px solid @transparentBorderClr;
			}
			&:nth-child(-n+4) {
				border-bottom: 1px solid @transparentBorderClr; 
			}
		}
		.circle {	
			margin-top: -3px;
			width: 30px;
			height: 30px;
			background: white;
			-moz-border-radius: 15px;
			-webkit-border-radius: 15px;
			border-radius: 15px;
			text-align: center;
			line-height: 32px;
			color: @whatWeDoClr;
		}
	}

	button {
		margin-top: 30px;
	}

}



#booking {
	padding: 75px 50px 35px 50px;
	background-color: @bookingClr;
	p {
		margin: 20px 0 30px 0;
	}
	.infos {
		padding-left: 30px;
		padding-bottom: 40px;
		border-left: 1px solid @transparentBorderClr;
		p {
			margin: 10px 0 20px 0;
		}
		h5 {
			margin-bottom: 10px;
		}
		a {
			margin-right: 10px;
			color: @transparentClr;
			&:hover {
				color: white;
			}
		}
		.underlined {
			border-bottom: 1px dotted  @transparentClr;
			margin-bottom: 20px;
			display: inline-block;
			&:hover {
				text-decoration: none;
			}
		}
	}
}

footer {
	padding: 75px 50px;
	background-color: @footerClr;
}