
/* ------------ CSS/LESS RESET ---------------*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	font-family: sans-serif;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
	position: relative;
}

/* ------------ VARIABLES ---------------*/

@mobile: 403px;
@tablet: 768px;
@laptop: 992px;
@bigscreen: 1200px;

@sidebarClr: #312450;
@headerClr: #5e42a6;
@learnMoreClr1: #5052b5;
@learnMoreClr2: #4c4eac;
@learnMoreClr3:	#484aa3;
@whatWeDoClr: #b74e91;
@whatWeDoListClr: #bb5797;
@bookingClr: #5e41a6;
@footerClr: #493382;
@transparentClr: rgba(255, 255, 255, 0.6);		/* less transparent white */
@transparentSidebarClr: rgba(255, 255, 255, 0.3);
@transparentBorderClr: rgba(255, 255, 255, 0.1);	/* more transparent white */

@modalClr: #5e42a6;


/* ------------ MIXIN ---------------*/

.sidebarWidth (@widthProperty) {
	@{widthProperty}: 310px;
	@media screen and (max-width: @bigscreen) {
			@{widthProperty}: 250px;
	}
	@media screen and (max-width: @laptop) {
			@{widthProperty}: 200px;
	}
	@media screen and (max-width: @tablet) {
			@{widthProperty}: 120px;
	}
	@media screen and (max-width: @tablet) {
			@{widthProperty}: 60px;
	}
}


/* ------------ FONT SIZING AND COLOR ---------------*/

html	{	
	@media screen and (max-width: @bigscreen) {
		font-size: 14px;
	}
	@media screen and (max-width: @tablet) {
		font-size: 12px;
	}
	@media screen and (max-width: @mobile) {
		font-size: 10px;
	}
}

h1, h2, h3, h4, h5 {
	font-weight: bold;
	color: white;
}

h1 {	
	font-size: 3rem;			/* 48/16px */
}

h2, h3 {
	font-size: 1.875rem;			/* 30/16px */
	@media screen and (max-width: @laptop) {
		font-size: 1.5rem;
	}	
}



h2, h3, h4, h5 {
	line-height:	1.625rem;		/* 26/16px */
}

p {
	line-height:	1.625rem;		/* 26/16px */
	color: @transparentClr;
}



/* ------------ CONTENT ---------------*/

body {
    position: relative;
}

.modalText {
	display: none;
}


#content {
	padding: 0;
	.row {
		margin-left: 0;
		margin-right: 0;
	}
}

#sidebar {
	padding: 180px 0 0 0;
	@media screen and (max-width: @laptop) {
		padding-top: 50px;		
	}

	button {
		margin: 0 8px 10px 0;
		background-color: @headerClr;
		float: none;
		span {
			background-color: white;
		}
	}
	text-align: right;
	background-color: @sidebarClr;
	height: 100vh;
	position: fixed;	
	.sidebarWidth (width);			/* MIXIN */
		
	ul {
		padding: 0 45px;
		@media screen and (max-width: @laptop) {
			padding: 0 20px;
		}
		@media screen and (max-width: @tablet) {
			padding: 0 5px;
			width: 100px;
			background-color: @sidebarClr;
		}
	}

	.nav-pills>li.active>a {
			background-color: inherit;
			border-bottom: 2px solid red;
			color: white;
	}

	a {
		font-size: 0.625rem;			/* 10/16px */
		letter-spacing: 0.1875rem;
		font-weight: bold;
		color: @transparentSidebarClr;
		padding: 15px 0;
		margin-bottom: 30px;
		border-bottom: 2px solid @transparentBorderClr;
		border-radius: 0px;
		&:hover, &:active, &:focus {
			background-color: inherit;
			color: @transparentClr;
		}		

		@media screen and (max-width: @tablet) {
			margin-bottom: 10px;
		}
	}

}

#main {
	.sidebarWidth (margin-left);		/* MIXIN */
	button {
		background-color: inherit;
		font-weight: bold;
		letter-spacing: 0.1875rem;
		border: 1px solid @transparentBorderClr;
		color: white;
		font-size: 0.625rem;			/* 10/16px */
		border-radius: 30px;

		padding: 20px 40px;
		@media screen and (max-width: @bigscreen) {
			padding: 15px 30px;
		}
		@media screen and (max-width: @laptop) {
			padding: 10px 20px;
		}
		

		&:hover, &:active, &:focus {
			background-color: @transparentSidebarClr;
			color: @sidebarClr;
			border: 1px solid @sidebarClr;
			outline: 0;
		}

	}
}



#welcome {
	background-color: @headerClr;
	background-attachment: fixed;
	background-image: url("../pics/intro.svg");
	background-position: top right;
	background-repeat: no-repeat;
	background-size: 100% 100%;

	padding: 180px 20px 180px 60px;
	@media screen and (max-width: @laptop) {
		br {
			display: none;
		}
		padding: 50px 30px;		
	}

	h1 {
		margin-bottom: 30px; 
	}
	p {
		margin-bottom: 40px;
		font-size: 1.25rem;				/* 20/16px */
	}
	button {
		background-color: @headerClr;
	}
	.underlined {
		border-bottom: 1px dotted  @transparentClr;
		cursor: pointer;
		&:hover {
			color: white;
		}
	}
}


#whoWeAre {
	margin-left: 0px;
	h2 {
		margin-top: 75px;
		@media screen and (max-width: @bigscreen) {
			margin-top: 50px;
		}
		@media screen and (max-width: @laptop) {
			margin-top: 30px;
		}
		@media screen and (max-width: @tablet) {
			margin-top: 15px;
		}
	}
	p {
		margin: 30px 0;
		@media screen and (max-width: @bigscreen) {
			margin: 20px 0;
		}
		@media screen and (max-width: @laptop) {
			margin: 10px 0;
		}
		
	}
	.row {
		margin: 0;
		&:nth-child(1) {
			background-color: @learnMoreClr1;
		}
		&:nth-child(2) {
			background-color: @learnMoreClr2;
		}
		&:nth-child(3) {
			background-color: @learnMoreClr3;
		}
	}
	.image {
		padding: 0;
	}
	.text {
		padding: 0 60px;
		@media screen and (max-width: @laptop) {
			padding: 0 30px;
		}
		@media screen and (max-width: @tablet) {
			padding: 30px 45px;
		}
	}
}

#whatWeDo {
	padding: 75px 60px;
	@media screen and (max-width: @tablet) {
		padding: 30px 45px;
		h3 {
			margin-top: 15px;
		}
	}

	background-color: @whatWeDoClr;
	p {
		margin: 30px 0;
		@media screen and (max-width: @tablet) {
			margin: 15px 0 20px 0;
		}
	}
	.whatWeDoList {
		margin: 0;
		background-color: @whatWeDoListClr;
		border: 1px solid @transparentBorderClr;					/* giving border around list */
		border-radius: 5px;
		p {
			margin: 10px 0;
		}
		&>div {
			padding: 30px 30px;
			&:nth-child(2n) {
				border-left: 1px solid @transparentBorderClr;		/* giving border between 2 collums */
			}

			&:nth-child(-n+4) {
				border-bottom: 1px solid @transparentBorderClr; 	/* giving border between rows */
			}
			
			@media screen and (max-width: @laptop) {
				&:nth-child(2n) {									/* deleting border between 2 collums for smaller screens  */
					border-left: none;
				}
				&:nth-child(-n+5) {									/* adding one more border between rows for smaller screens  */
					border-bottom: 1px solid @transparentBorderClr; 
				}
			}

			@media screen and (max-width: @mobile) {
				padding: 20px 0;
			}

		}
		.circle {	
			margin-top: -3px;
			width: 30px;
			height: 30px;
			background: white;
			-moz-border-radius: 15px;
			-webkit-border-radius: 15px;
			border-radius: 15px;
			text-align: center;
			line-height: 32px;
			color: @whatWeDoClr;
			@media screen and (max-width: @tablet) {
				margin: 0 auto 20px auto;
			}
		}
	}

	button {
		margin-top: 30px;
	}

}



#booking {
	padding: 75px 50px 35px 50px;
	@media screen and (max-width: @tablet) {
		padding: 45px 45px 10px 45px;
	}

	background-color: @bookingClr;
	p {
		margin: 20px 0 40px 0;
	}

	label {
		margin-bottom: 10px;
		font-weight: bold;
		color: white; 
	}

	.bookingForm {
		@media screen and (max-width: @mobile) {
			padding-left: 0;
			padding-right: 0;
		}
	}

	.form-group {
		margin-bottom: 30px;
		@media screen and (max-width: @laptop) {
			margin-bottom: 20px;
		}
		@media screen and (max-width: @tablet) {
			padding-left: 0;
			padding-right: 0;
		}
	}

	.events {
		@media screen and (max-width: @tablet) {
			padding-left: 0;
			padding-right: 0;
		}
	}

	#listOfPeople, #selectEvent {
		height: 100px;
		overflow: auto;
	}

	button {
		margin-top: 20px;
		margin-bottom: 20px;
	}

	.infos {
		padding: 0 0 40px 30px;
		border-left: 1px solid @transparentBorderClr;
		p {
			margin: 10px 0 20px 0;
		}
		h5 {
			margin-bottom: 10px;
		}
		a {
			margin-right: 10px;
			color: @transparentClr;
			&:hover {
				color: white;
			}
		}

		@media screen and (max-width: @laptop) {
			border-left: none;
			border-top: 1px solid @transparentBorderClr;
			margin-top: 30px;
			padding-top: 20px;
		}

		@media screen and (max-width: @mobile) {
			padding-left: 10px;
		}

		.underlined {
			border-bottom: 1px dotted  @transparentClr;
			margin-bottom: 20px;
			display: inline-block;
			&:hover {
				text-decoration: none;
			}
		}
	}
}

footer {
	padding: 75px 50px;
	background-color: @footerClr;

	@media screen and (max-width: @laptop) {
		padding: 35px 45px;
	}

	@media screen and (max-width: @tablet) {
		padding: 20px 45px;
	}

	p {
		display: inline;
		margin-right: 30px;
	}
}

#myModal {

	h4 {
		font-size: 2rem;
		color: @transparentClr;
	}

	p {
		margin-bottom: 20px;
		color: @transparentClr;
	}

	.modal-content {
		background-color: @modalClr;	
	}
}
